/* filepath: /workspaces/RialWatch/docs/style.css */
#clock {
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
}

#counter {
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}